/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 12, 2017, 8:59:47 PM
    Author     : cisne
*/
body {
  overflow-x: hidden; }

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled {
  padding-left: 250px; }

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled #sidebar-wrapper {
  width: 250px; }

#page-content-wrapper {
  width: 100%;
  position: absolute;
  background-image: url("../img/WDBackground.jpg");
  background-size: 100% 550px;
  background-repeat: no-repeat;
  height: 550px; }

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px; }

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none; }

li {
  text-indent: 20px;
  line-height: 40px; }

a {
  display: block;
  text-decoration: none;
  color: #999999; }

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2); }

.sidebar-nav li a:active {
  text-decoration: none; }
.sidebar-nav li a:focus {
  text-decoration: none; }

.sidebar-nav .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px; }

.sidebar-nav .sidebar-brand a {
  color: #999999; }

.sidebar-nav .sidebar-brand a:hover {
  color: #fff;
  background: none; }

.fa {
  padding-top: 2%;
  color: gray; }

#menu {
  color: white; }

#arrow {
  color: white; }

#headings {
  margin-top: 8%; }

#nameHeading {
  text-align: center;
  color: white; }

#webDevHeading {
  text-align: center;
  color: gray; }

#socialIcon {
  text-align: center;
  color: gray; }

@media (min-width: 768px) {
  #wrapper {
    padding-left: 0; }

  #wrapper.toggled {
    padding-left: 250px; }

  #sidebar-wrapper {
    width: 0; }

  #wrapper.toggled #sidebar-wrapper {
    width: 250px; }

  #page-content-wrapper {
    position: relative; }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0; } }

/*# sourceMappingURL=styleMain.css.map */
